h1 {
    text-align: center;
    font-family: cursive;
    
}

p {
    text-align: center;
    font-family: sans-serif;
    color: Black;
}

body {
    text-align: center;
    
}

 head {
     text-align: left;
 }
 
 html {
     background-image: url("http://www.desktopimages.org/pictures/2014/0131/1/orig_368437.jpg")
 }
 