h1 {
    text-align: right;
    font-family: cursive;
    
}

p {
    text-align: right;
    font-family: sans-serif;
}

body {
    text-align: right;
    
}

 head {
     text-align: left;
 }
 
 html {
     background-image: url("https://i.imgur.com/FyCO6pw.jpg")
 }
 